td{
    max-width: 40vw;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.notification{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.notification .title{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    text-align: center;
}